
# Operators

# Airthmetic Operators

In [2]:
x=float(input("enter the first number"))
y=float(input("enter the second number"))

enter the first number55.55
enter the second number44.44

In [3]:
sum=x+y

In [4]:
print(sum)

99.99

In [5]:
x=float(input("enter the first number"))
y=float(input("enter the second number"))

enter the first number33.33
enter the second number22.22

In [7]:
difference=x-y

In [8]:
print(difference)

11.11

In [9]:
x=float(input("enter the first number"))
y=float(input("enter the second number"))

enter the first number33.33
enter the second number66.66

In [12]:
multiplication=x*y
exponential=x**y

In [13]:
print(multiplication)

2221.7778

In [14]:
print(exponential)

3.252385443192984e+101

In [15]:
x=float(input("enter the first number"))
y=float(input("enter the second number"))

enter the first number3.3
enter the second number1.1

In [16]:
division=x/y
division2=x//y

In [17]:
print(division)

2.9999999999999996

In [19]:
print(division2)

2.0

# Assignment operators

In [22]:
x=int(input(" the value of x is "))

 the value of x is 6

In [23]:
x+=4

In [24]:
print(x)

10

In [25]:
x=int(input(" the value of x is "))

 the value of x is 6

In [26]:
x-=5

In [27]:
print(x)

1

In [28]:
x*=4

In [29]:
print(x)

4

In [30]:
x/=5

In [31]:
print(x)

0.8

In [32]:
x%=4      #remainder

In [33]:
print(x)

0.8

In [34]:
x**=5      #exponential or power

In [35]:
print(x)

0.3276800000000001

# comparision operators

In [36]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))

enter the first number40
enter the second number50

In [37]:
a==b     #equals to

False

In [38]:
a>b    #greater than

False

In [39]:
a<b   #less than

True

In [40]:
a<=b    #less equals to

True

In [41]:
a>=b     #greater equals to

False

In [43]:
a!=b      #not equals to

True

# LOGICAL OPERATORS

In [44]:
2>4 and 3>5   #and operators

False

In [45]:
40>30 or 40<50  #or operators

True

In [46]:
a<10 or b>50   #a and b's value assigned above

False

In [47]:
not (2>4 and 3>5 )   #not operator

True

# DATA TYPES

STRING

In [49]:
x = "i am a student"

In [50]:
len(x)     #counting starts from 0 including white spaces

14

In [52]:
x[7]      #7th character of string

's'

In [53]:
x[7:14]       #charcters from 7 to 14

'student'

In [57]:
x[5::]

'a student'

In [58]:
x[-1]    # counting starts from end

't'

In [64]:
x[-5:-1]

'uden'

In [65]:
x[::-1]      #reverse print of string

'tneduts a ma i'

In [69]:
x=input("ENTER THE STRING: ")

ENTER THE STRING: Anu Gartoula

In [71]:
x[::-1]

' aluotraG unA'

In [74]:
y=x.split()      #splitting the words

In [75]:
y

['Anu', 'Gartoula']

In [78]:
b= "I/am/a/python/developer"

In [81]:
a=b.split('/')

In [82]:
a

['I', 'am', 'a', 'python', 'developer']

list

In [83]:
 strl ='i am a human'

In [84]:
strl.capitalize()

'I am a human'

In [85]:
strl.casefold() #casefold lowercases the string

'i am a human'

In [87]:
strl.count('a')    #counts the number of 'a' in strl string

3

In [89]:
strl.encode()    #transfers in bytes

b'i am a human'

In [91]:
strl.center(20)       #increases space

'    i am a human    '

In [92]:
x.isalnum()

False

In [93]:
x.isalpha()    #is and tab

False