# Tuples cont'd

In [1]:
x=("apple","banana","grapes","apple","apple")

In [2]:
x

('apple', 'banana', 'grapes', 'apple', 'apple')

In [3]:
len(x)

5

In [4]:
x[2]

'grapes'

In [5]:
x[2:5]

('grapes', 'apple', 'apple')

In [6]:
y=list(x)        #changes tuples into list ; y is name of new list ; x is tuples

In [7]:
y

['apple', 'banana', 'grapes', 'apple', 'apple']

In [8]:
y[2]="pineapple"    #changing grapes

In [9]:
y

['apple', 'banana', 'pineapple', 'apple', 'apple']

In [11]:
y.remove('apple')

In [12]:
y

['banana', 'pineapple', 'apple', 'apple']

In [13]:
x=tuple(y)    #changes the list into tuple

In [14]:
x

('banana', 'pineapple', 'apple', 'apple')

In [15]:
type(x)

tuple

In [16]:
z=('hexcode',)         #comma to create single element tuple

In [17]:
type(z)

tuple

# Set

In [18]:
s1={1,2,3,4,5,6}

In [19]:
type(s1)

set

In [20]:
s2={1,1,1,2,3,4,5,6,6,6,7,7}

In [21]:
s2      #set doesnt allow dublications

{1, 2, 3, 4, 5, 6, 7}

In [22]:
len(s1)

6

In [23]:
s2.add('hi')

In [24]:
s2

{1, 2, 3, 4, 5, 6, 7, 'hi'}

In [25]:
s2.remove(6)

In [26]:
s2

{1, 2, 3, 4, 5, 7, 'hi'}

In [31]:
for i in s2:
    print(i)

1
2
3
4
5
7
hi

In [38]:
a=list(s2)              #a is name of new set

In [39]:
a

[1, 2, 3, 4, 5, 7, 'hi']

In [42]:
a[-1]='hello world'

In [41]:
a

[1, 2, 3, 4, 5, 7, 'hello world']

# If Else Statement

In [1]:
x=int(input('enter any number: '))

enter any number: 67

In [7]:
 if x%2==0:
        print('number is even')
else:
        print('number is odd')

number is odd

In [9]:
x=float(input('enter any number: '))

enter any number: 60.99

In [10]:
 if x%2==0:
        print('number is even')
elif x%2==1:
    print('number is odd')
    
else:
     print('enter integer')

enter integer

exercise:
    1) take input from user 
    2) clssify the division using following reference 
        i) if marks is greater than equal to 80- distinction 
        ii) greater equal to 60 and less than 80- first division 
        iii)greater equal to  40 and less than 60-  dsecond division
        iv) less than 40 - fail
        v) else invalid

In [13]:
 x=float(input('enter the marks of student: '))

enter the marks of student: 44.44

In [16]:
if x>=80 and x<=100:
    print("distinction")
elif x>=60 and x<=80:
    print("first division")
elif x>=40  and x<=60:
    print("second division")
elif x>40:
    print("fail")

else: 
    print("invalid")

second division